/* Styles pour la liste des recettes dans index.blade.php */
.recettes-liste {
    list-style: none;
    padding: 0;
}

.recettes-liste li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Style de l'image de la recette dans index.blade.php */
.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Style des actions de la recette dans index.blade.php */
.recipe-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #eee;
}

/* Style du bouton d'action de la recette dans index.blade.php */
.recipe-action-button {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease linear;
}

/* Style du formulaire de création de recette dans create.blade.php */
.create-comment-form {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.create-comment-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.create-comment-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #f04;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-comment-form button[type="submit"]:hover {
    background-color: #e03;
}
#title {
    color: red;
}